.wrapper {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 100px 100px;
  }





body {
  
   background-image: url(https://cdn.pixabay.com/photo/2015/06/08/15/11/typewriter-801921_1280.jpg);
    background-attachment: fixed; 
    background-size: cover;  
    
}  
 



.container {
    display: block;
    

}



.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 150px;
    border-width: 15px;
    height: 650px;
    box-shadow: rgba(194, 6, 6, 0.767) 0px 2px 8px 0px;
    color: hsl(142, 89%, 22%);
    font-size: 25px;
    margin: 25 px;
    max-width: 800px;
    padding: 30px 40px;
    height: 1250px;
  }
  
  .card-header::after {
    content: " ";
    display:initial;
    width: 100%;
    background: #e7ebe9;
    height: 2px;
  }

  #timer {

    width: 8px ;
    font-size: 25px;
  
  }
  
  .card-body {
    min-height: 200px;
    padding:20px ;
  }

  #question {

    height: 450px;
    width: 400px;
    border-radius: 75px;
  }
  
  .card-footer {
    text-align: center;
  }
  
  .card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
  }
  
  .card-footer::after {
    content: " ";
    display: block;
    clear: both;
  };