.wrapper {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 50px 50px;
  }


body {
  
   background-image: url(https://cdn.pixabay.com/photo/2015/06/08/15/11/typewriter-801921_1280.jpg);
    background-attachment: scroll; 
    background-size: scroll;  
    
}  

#begin{
margin-left: 800px;
margin-top: 300px;
size: 400px;
height: 200px;
width: 250px;
font-size: 75px;
color: rgba(43, 114, 43, 0.959);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
border-radius: 75px;
box-shadow:rgba(43, 114, 43, 0.959) 15px 15px 8px 0px;  
    color: hsl(142, 89%, 22%);
}

.container {
    display: ruby;
    

}

.counter{
height: 50px;
width: 150px;
opacity: 20%;

}



.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 150px;
    border-width: 15px;
    height: 350px;
    box-shadow:rgba(43, 114, 43, 0.959) 15px 15px 8px 0px;  
    color: hsl(142, 89%, 22%);
    font-size: 25px;
    margin: 25 px;
    max-width: 800px;
    padding: 30px 40px;
    height: 450px;
  }
  
  .card-header::after {
    content: " ";
    display:initial;
    width: 100%;
    background: #e7ebe9;
    height: 2px;
  }
  .display{
 
color: rgba(43, 114, 43, 0.959);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
  }

  #timer {

    width: 80px ;
    font-size: 25px;
  
  }
  
  .card-body {
    min-height: 200px;
    padding:20px ;
  }

  #question {

    height: 450px;
    width: 400px;
    border-radius: 75px;
  }
  
  .card-footer {
    text-align: center;
  }
  
  .card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
  }
  
  .card-footer::after {
    content: " ";
    display: block;
    clear: both;
  };
